/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

/*beginning common to all pages*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    
}

header {
    background-image: url(./images/imgfondo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 192px;
    margin-bottom: 5px;
}

nav{
    position: relative;
    bottom: 175px;
    left: 120px;
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 5px;
}

nav ul li{
    border: rgb(10, 2, 0) solid 1px;
    border-radius: 10px;
    background-color: rgb(213, 162, 61);
    padding: 5px;
}

nav ul li a{
    font-size: 20px;
    font-weight: bold;
}

nav ul li a:hover{
    color:rgb(126, 30, 6) ;
        
}

nav ul li a.activo{
    color:rgb(126, 30, 6) ;
     
}

ul li a {
    text-decoration: none;
    color: rgb(10, 2, 0);
    
}

footer{
    background-color: rgb(213, 162, 61);
    clear: both;
    text-align: center;
    color: rgb(10, 2, 0);
    font-size: 15px;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5px;
}

.info ul{
    list-style: none;
}

.second ul li{
    padding-top: 40px;
    }


h4{
    text-decoration:underline;
    margin: 10px auto 10px;
}

/*end common to all pages*/

/*beginning home*/

h1{
    color:rgb(126, 30, 6);
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    animation-name: titulo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
    margin-top: 40px;
}

@keyframes titulo {
    from {
       font-size: 60px; 
    }
    to{
        font-size: 80px
    }
}



main{
    background-color: rgba(251, 200, 98, 0.4);
}

.principal{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
}

.primer-contenedor{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.segundo-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.principal p{
    font-size: 35px;
    text-align: center;
    color: rgb(10, 2, 0);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 180px;
    
  
}

span{
    text-shadow: 3px 6px 5px rgba(10, 2, 0, 0.8) ;
    font-size: 40px;
}

.contenido-1{
    max-width: 400px;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.contenido-1:hover{
    background-color:  rgb(213, 162, 61);
   
    
}
contenido-1 img{
    transform: scale(1);
    transition: all 0.5s ease;
}

.contenido-1:hover img{
    transform: scale(1.05);
    overflow: hidden;
}

.contenido-1 h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color:rgb(126, 30, 6) ;
    font-size: 15px;
    transition: font-size 0.5s;
}

.contenido-1:hover h3{
    font-size: 20px;
    overflow: hidden;
}


/*end home*/

