
/*header y footer de todos*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;    
}

header {
    background-image: url(./images/imgfondo1.jpg);
    background-repeat: no-repeat;
    background-size:  100% 100%;
    display:grid;
    height: auto;
    
}
header img{
    width: 100px;
    grid-column: 1/2;
}

nav{
    margin-top: 40px;
    margin-right: 3vw;
    justify-content: left;
    grid-column: 2/11;
}

nav ul {
   list-style: none;
   display: flex;
   justify-content: right;
   gap: 15px 5px;
   flex-wrap: wrap;
}

nav ul a{
    border: rgb(10, 2, 0) solid 1px;
    border-radius: 10px;
    background-color: rgb(213, 162, 61);
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(10, 2, 0);
}



nav ul a:hover{
    background-color:rgb(255, 218, 6) ;
        
}

nav ul a.activo{
    color:rgb(126, 30, 6) ;
     
}

footer{
    background-color: rgb(213, 162, 61);
    justify-content: space-around;
    text-align: center;
    color: rgb(10, 2, 0);
    font-size:calc(1.2vh + 1vw);
    width: auto;
    height: auto;
}

footer p{
    font-size: 15px;
}

.info{
    display: flex;
    justify-content: space-around;
    height: calc(6vh + 9vw);
}

.info ul{
    display:flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    padding-top: 10px;
}

.info ul li a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(126, 30, 6);
}


.info ul li a:hover{
    color: black;
}

.info h4{
    text-decoration:underline;
    margin: 5px auto 10px;
}

.info h4,
.info p{
    font-size: 20px;
    color: rgb(46, 14, 6);
}

.map{
    width: 20vw;
    height: 80%;
}

/* Inicio Home*/

h1{
    margin-top: 20px;
    color:rgb(126, 30, 6);
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    animation-name: titulo;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes titulo {
    from {
       font-size: 60px; 
    }
    to{
        font-size: 80px
    }
}

main{
    background-color: rgba(251, 200, 98, 0.4);
}
.mainIndex{
    display: flex;
    flex-direction: row;
    background-color: rgba(251, 200, 98, 0.4);
    width: auto;
}
.principal{
    margin: 5vh;
     
}
.mainIndex img{
    width: 75vw;
}

.principal p{
    margin-top: 60px;
    font-size: calc(1vh + 2vw);
    text-align: center;
    color: rgb(10, 2, 0);
    font-family: 'Montserrat', sans-serif;
    
}

.segundo-contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(251, 200, 98, 0.4);
}

span{
    text-shadow: 3px 6px 5px rgba(10, 2, 0, 0.8) ;
    font-size: 40px;
}

.contenido-1{
    max-width: 400px;
    box-sizing: border-box;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
}

.contenido-1:hover{
    background-color:  rgb(213, 162, 61);
   
    
}
.contenido-1 img{
    transform: scale(1);
    transition: all 0.5s ease;
}

.contenido-1:hover img{
    transform: scale(1.05);
    overflow: hidden;
}

.contenido-1 h3 {
    margin-bottom: 10px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color:rgb(126, 30, 6) ;
    font-size: 15px;
    transition: font-size 0.5s;
}

.contenido-1:hover h3{
    font-size: 20px;
    overflow: hidden;
}


/* Fin Home*/

/*Quienes Somos*/
.mainQS{
    background-image: url("./images/fondo4.png"); 
    background-size: contain; 
    width: auto;
    height: auto;
    margin-bottom: -5px;
}

.title{
    font-size: calc(4vh + 2vw);
    color:rgb(223, 1, 1);
    /* text-shadow: 0.2rem 0.2rem 0.2rem black, -0.2rem -0.2rem 0.2rem black; */
    text-shadow: 0.2rem 0.2rem 0.5rem rgb(107, 3, 3), -0.2rem -0.2rem 0.5rem rgb(124, 1, 1),0.2rem -0.2rem 0.5rem rgb(109, 1, 1),-0.2rem 0.2rem 0.5rem rgb(88, 1, 1);
    -webkit-text-stroke: 0.04rem rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

.cartel{
    
    display:flex;
    grid-template-columns: 3fr 5fr 3fr;
    position:initial;
    align-items: center;
    justify-content: center;
    margin:0 2vh 0 2vh;
    
}
.cartelTexto{
    color:rgb(255, 255, 255);
    width: 40%;
    /* margin:2%; */
    margin-bottom: 5vh;
    font-size: calc(1.2vh + 1vw);
    text-shadow: 0.2rem 0.2rem 1rem rgb(107, 3, 3), -0.2rem -0.2rem 1rem rgb(124, 1, 1),0.2rem -0.2rem 1rem rgb(109, 1, 1),-0.2rem 0.2rem 1rem rgb(88, 1, 1);
}
.imagenLocal{
    width: 50vw;
    height: 50vh;
}


/*Sugerencias*/

.tituloSugerencias{
    font-size: calc(2vw + 1vh);
    color:rgb(126, 30, 6) ;
    text-align: center;
    margin: 0.5vh 5vh 0.5vh ; 
    padding: 1.5vh;
}

.sugerido{
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 1.5vh 20vh 0.5vh ;
    gap: 5px;
    border: 1px solid rgb(88, 21, 21);
    border-radius: 5px;
}

.sugerido p{
    font-size: calc(1.5vw + 1vh);
    margin: 3vw ;
    color: rgb(87, 65, 6) ;
    text-align: center;
}

.sugerido img{
    padding: 15px ;
    transform: scale(1);
    transition: all 0.5s ease;
    width: 100%;
   }

   .sugerido img:hover{
    transform: scale(1.05);
    overflow: hidden;
}


/*Fin sugerencias*/

@media (max-width:600px) {
    .cartel{
        display: grid;
        grid-template-columns: 100%;
    }
    .imagenLocal{
        width: 100%;
    }
    .cartelTexto{
        width: 100%;
    }

    .mainIndex {
        display: grid;
        grid-template-columns: 100% ;
       text-align: center;
    }

    .principal p{
        margin-top: 10px;
    }

    .segundo-contenedor {
        display: grid;
        grid-template-columns: 100% ;
       text-align: center;
      
    }
    .contenido-1{
        max-width: none;
        margin: 0;
    }
   
}
/* celular */
@media (min-width: 700px) and (min-height:1500px) {
    header img{
        width: 25vw;
        grid-column: 1/2;
    }
    nav ul a{
        font-size: 3vw;

    }
    .mainQS .cartel{
        font-size: 2vw;
    }
    nav{
        margin-top: 5vw;
        margin-right: 3vw;
        justify-content: left;
        grid-column: 2/11;
    }
    .cartel{
        display: grid;
        grid-template-columns: 100%;
    }
    .imagenLocal{
        width: 100%;
    }
    .cartelTexto{
        width: 100%;
    }

    .mainIndex {
        display: grid;
        grid-template-columns: 100% ;
       text-align: center;
    }
    .segundo-contenedor {
        display: grid;
        grid-template-columns: 100% ;
       text-align: center;
      
    }
    .contenido-1{
        max-width: none;
        margin: 0;
    }
    footer{
        font-size:large;
        height: auto;
    }
}



